<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="refresh" content="30"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
 

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient(to bottom, #0099cc 16%, #99ffcc 75%);
            background-repeat: no-repeat;
          }
        span{
            color: red;
        }
        
    </style>
</head>
<body>
    {% if user.is_authenticated %}
    <header>
        <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
            <!-- SideNav slide-out button -->
            <div class="float-left">
              <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/newticket"><i class="fas fa-user"></i>Add a ticket</a>
              </li>         
              <li class="nav-item">
                    <a class="nav-link" href="/detail"><i class="fas fa-user"></i>Details</a>
                  </li>                
              <li class="nav-item">
                <a class="nav-link"><i class="far fa-comments"></i> Hi!, <h5>{{user.first_name}}</h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="fas fa-user"></i>Logout</a>
              </li>

            </ul>
          </nav>}
    </header>
	{% block code_block %}
    {% endblock %}
    {% else %}

    
    <div class="container"> 
        <br><br><br><br><br>  
        <div class="text-center"> 
            <h1 style="color:black;text-align:center;">Log in first</h1>
            <a href="/"><button type="button" class="btn btn-primary">Login</button></a> 

        </div> 
  
  
    </div>
    
    {% endif %}
</body>
</html>